html{
  font-family: 'Courier New', Courier, monospace;
}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  height: 80px;
  padding: 0 32px;
}

.Nav-logo {
  color: #fff;
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;

}
.Nav-logo img{
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}
.title{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-left:0.3rem;
}

.Nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.Nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}

.Nav-link:hover {
  color: #2e2e2e;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  transition: all 0.3s ease;
}

main {
  background-color: #f0f0f0;
  min-height: calc(100vh - 80px);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}


#root{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 3rem auto;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.3rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 0.8rem;
}

button {
  background-color: #ededed;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #ccc;
}

.calculate-button {
  grid-column: 3 / 5;
  background-color: #4b4b4b;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  height: 3.3rem;
}

.calculate-button:hover {
  background-color: #2d2d2d;
}

.actions{
  margin-top: 1rem;
  /* background-color: #d65a5a; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.red{
  background-color: #c75252;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red img{
  margin: 0;
  width: 5rem;
  height: 3.5rem;
}

.titles p{
  margin:2rem;
  font-size: 1.3rem;
  text-align: justify;
}

h1{
  text-align: center;
  color: #2e2e2e;
}

.respond{
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
}

.loader{
  background-color:#f4f6f4;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.loader img{
  height: 15vh;
}